# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

CLOUD_NAME="recipeideas"
API_KEY="698741684983514"
API_SECRET="tK7oIYopM_88xBjkUcchwl_eHQQ"

X_RAPIDAPI_KEY=f4a6409e03msh2513ad740baf8b9p13e32fjsn5d20d8842c5f
X_RAPIDAPI_HOST=spoonacular-recipe-food-nutrition-v1.p.rapidapi.com

# Front-End Variables
BASENAME=/
BACKEND_URL=https://automatic-rotary-phone-7xgv9gq5wpgfwp45-3001.app.github.dev/
