img.avatar {
    width: 400px;
    height: 400px;
    object-fit: cover; /*The image keeps the aspect ratio while filling the entire content box.*/
    overflow: hidden;
}

.info-wrapper {
    border-radius: 1rem;
}

.save-info, .edit-info, .cancel-info {
    display: inline-flex;
    align-self: end;
}