img.avatar {
    width: 300px;
    height: 300px;
    object-fit: cover; /*The image keeps the aspect ratio while filling the entire content box.*/
    overflow: hidden;
}

.info-wrapper {
    border-radius: 1rem;
}

.profile-form-save, .profile-form-edit {
    display: inline-flex;
    align-self: end;
    background-color: #AABA9E;
}

.profile-change-picture {
    background-color: #AABA9E;
}

