.bg-image-results{
    background-image: url("https://www.readyseteat.com/sites/g/files/qyyrlu501/files/images/background/2022-03/GREY-017-RSE-Dinner-Ideas-Directory-Page-Update-DT-V1.jpg");
    background-position: center;
    background-size: cover;
    min-width: 100%;
}

.button-class{
    background: rgba(25,135,84, 0.75);
}

.search-filters-text {
    background-color: rgba(0, 0, 0, 0.6)
}